.attributes-container {
  padding: 4px;
  max-height: fit-content;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
}

.attribute {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}
